* {
    font-family: 'Open sans', sans-serif;
}

#mapid { height: 250px; }

h1 {
    text-align: center;
    font-family: 'Gugi', cursive;
}

.hidden {
    display: none;
}

.distance {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
}