* {
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background: linear-gradient(rgb(18, 40, 58, 0.6), rgb(18, 40, 58, 0.6)), url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    center;
    background-size: cover;
}

.rocket {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.background1 {
    background: #006B83;
    height: 100%;
}

#mapid {
    height: 350px;
    border: 2px solid #DCDCDC;
}

h1 {
    text-align: center;
    font-family: 'Gugi', cursive;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  
}

.distanceData {
    margin-left: Auto;
    margin-right: Auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

ul {
    padding-left: 0;
    margin-left: 5%;
    width: 35%;
}

li {
    list-style: none;
    padding: 8px;
    font-size: 14pt;
    text-shadow: none;
    margin: 5px;
}

ul li:nth-child(even) {
    background: #1C3D5A;
}

ul li:nth-child(odd) {
    background: #2779BD;
}

.numberForm, .zipCode {
    text-align: center;
    font-size: 14pt;
}

.number {
    width: 55px;
}

legend {
    display: block;
    padding: 10px;
    font-weight: bold;
}

input {
    font-size: 14pt;
    color: black;
    background: white;
    border: 2px solid black;
    padding: 4px;
}

.getLocation:hover, .passCount:hover, .search:hover {
    cursor: pointer;
    background: #DCDCDC;
    border: 2px solid #DCDCDC;
}

h2 {
    font-weight: bolder;
}

.dataHeader {
    display: inline;
    padding: 0 10px;
}

.dataLabel {
    padding-bottom: 10px;
}

.error {
    color: red;
}

p {
    font-size: 14pt;
}

.fa-spinner {
    color: white;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.fa-clock {
    padding: 0;
}

.dataList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.issLarge {
    max-width: 325px;
    width: 35%;
    height: 100%;
    margin-top: 15px;
}

@media screen and (max-width: 649px) {
    #mapid {
        height: 250px;
    }
    
    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 16pt;
        margin-top: 0;
    }

    .numberForm {
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        width: 100%;
        margin-left: 0;
    }

    li {
        margin: 2%;
    }

    .numberForm, .zipCode {
        display: inline;
    }

    .issLarge {
        display: none;
    }
}